<div class="card">
    <h1>Product List!</h1>
    <div class="search-container">
        <form class="search-container">
            <input class="search-input" type="text" placeholder="Filter by city" #filter>
            <button class="search-button" type="button" (click)="filterResults(filter.value)">Search</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @for (product of productList; track $index){
                <tr>
                    <td>{{product['productName']}}</td>
                    <td>{{product['catagory']}}</td>
                    <td>{{product['description']}}</td>
                    <td>{{product['price']}}</td>
                    <td>{{product['quantity']}}</td>
                    <td>{{product['quantity']*product['price']}}</td>
                    <td>{{product['datepeacker']}}</td>
                    <td><button class="edit-button" (click)="editProduct($index)">Edit</button></td>
                    <td><button class="delete-button" (click)="deleteProduct($index)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination">
        <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages() }}</span>
        <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages()">Next</button>
      </div>
  </div>
