body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .card {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
  }
  
  .card h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  button[routerLink] {
    display: block;
    margin: 20px auto;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[routerLink]:hover {
    background-color: #0069d9;
  }

  /* General button styles */
button {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
  }
  
  /* Edit button styles */
  button.edit-button {
    background-color: #007bff; /* Blue color */
  }
  
  button.edit-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  /* Delete button styles */
  button.delete-button {
    background-color: #dc3545; /* Red color */
  }
  
  button.delete-button:hover {
    background-color: #c82333; /* Darker red on hover */
  }
  
  .search-container {
    margin-bottom: 15px;
    text-align: right;
  }
  
  .search-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50%;
    font-size: 1rem;
  }
  .search-button {
    margin-left: 10px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    background: #000;
  }
  